@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fafafa;
}

.nav-link {
  margin-left: 24px;
  color: #64A164 !important;
  font-weight: 500;
}

#intro h1 {
  font-size: 48px;
  color: #418C41;
}

#intro p {
  font-size: 18px;
  color: #8EAC96;
}

.btn-primary {
  border: none !important;
}

.btn-primary {
  background-color: #3EA367 !important;
}

.btn-primary:hover {
  background-color: #14753B !important;
}

@media (max-width: 576px) {
  .intro-img {
    width: 75% !important;
  }

  .navbar {
    background-color: #ffffff !important;
  }

  #intro {
    padding: 80px 0;
    height: 100% !important;
  } 

}
